.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.item {
    margin-right: 10px;
    margin-bottom: 50px;
}

.prodList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}