.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
    gap: 10px;
    align-items: center;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.9em;
}

.add-btn {
    width: 100%;
    background-color: var(--tg-theme-button-color);
    border-radius: 20px;
    font-weight: bold;
    color: var(--tg-theme-button-text-color);
}

.price {
    font-weight: bold;

}

.title {
    color: var(--tg-theme-text-color)
}